.#{$g-css-prefix} {
  display: inline-block;
  font: normal normal normal #{$g-font-size-base}/#{$g-line-height-base} gicons; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.#{$g-css-prefix}-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.#{$g-css-prefix}-2x { font-size: 2em; }
.#{$g-css-prefix}-3x { font-size: 3em; }
.#{$g-css-prefix}-4x { font-size: 4em; }
.#{$g-css-prefix}-5x { font-size: 5em; }

.#{$g-css-prefix}-inverse { color: $g-inverse; }