[data-icon]:before {
  font-family: "gicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="g-"]:before,
[class*=" g-"]:before {
  font-family: "gicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="2x"]:before,
[class*="2x"]:before {
 font-size:2em;
}
[class^="3x"]:before,
[class*="3x"]:before {
 font-size:3em;
}
[class^="4x"]:before,
[class*="4x"]:before {
 font-size:4em;
}