.#{$g-css-prefix}-audio-cd:before { content:$g-var-audio-cd;}
.#{$g-css-prefix}-audio-cd-cover:before { content:$g-var-audio-cd-cover;}
.#{$g-css-prefix}-audio-chimes:before { content:$g-var-audio-chimes;}
.#{$g-css-prefix}-audio-ear-music:before { content:$g-var-audio-ear-music;}
.#{$g-css-prefix}-audio-ear-wave:before { content:$g-var-audio-ear-wave;}
.#{$g-css-prefix}-audio-ear-wave-r:before { content:$g-var-audio-ear-wave-r;}
.#{$g-css-prefix}-audio-headphone:before { content:$g-var-audio-headphone;}
.#{$g-css-prefix}-audio-keyboard-s:before { content:$g-var-audio-keyboard-s;}
.#{$g-css-prefix}-audio-microphone:before { content:$g-var-audio-microphone;}
.#{$g-css-prefix}-audio-microphone-2:before { content:$g-var-audio-microphone-2;}
.#{$g-css-prefix}-audio-music-note-1:before { content:$g-var-audio-music-note-1;}
.#{$g-css-prefix}-audio-music-note-2:before { content:$g-var-audio-music-note-2;}
.#{$g-css-prefix}-audio-sound:before { content:$g-var-audio-sound;}
.#{$g-css-prefix}-buildings-fire-place:before { content:$g-var-buildings-fire-place;}
.#{$g-css-prefix}-buildings-fence:before { content:$g-var-buildings-fence;}
.#{$g-css-prefix}-buildings-factory-3:before { content:$g-var-buildings-factory-3;}
.#{$g-css-prefix}-buildings-factory-2:before { content:$g-var-buildings-factory-2;}
.#{$g-css-prefix}-buildings-factory:before { content:$g-var-buildings-factory;}
.#{$g-css-prefix}-buildings-coorporate-tower:before { content:$g-var-buildings-coorporate-tower;}
.#{$g-css-prefix}-buildings-coorporate-3:before { content:$g-var-buildings-coorporate-3;}
.#{$g-css-prefix}-buildings-coorporate-2:before { content:$g-var-buildings-coorporate-2;}
.#{$g-css-prefix}-buildings-coorporate:before { content:$g-var-buildings-coorporate;}
.#{$g-css-prefix}-audio-wave:before { content:$g-var-audio-wave;}
.#{$g-css-prefix}-autdio-sound-2:before { content:$g-var-autdio-sound-2;}
.#{$g-css-prefix}-audio-sound-cancel:before { content:$g-var-audio-sound-cancel;}
.#{$g-css-prefix}-audio-sound1:before { content:$g-var-audio-sound1;}
.#{$g-css-prefix}-buildings-garage:before { content:$g-var-buildings-garage;}
.#{$g-css-prefix}-buildings-store-front-2:before { content:$g-var-buildings-store-front-2;}
.#{$g-css-prefix}-buildings-store-front-check:before { content:$g-var-buildings-store-front-check;}
.#{$g-css-prefix}-buildings-store-front-delete:before { content:$g-var-buildings-store-front-delete;}
.#{$g-css-prefix}-buildings-store-front-marker:before { content:$g-var-buildings-store-front-marker;}
.#{$g-css-prefix}-buildings-tower:before { content:$g-var-buildings-tower;}
.#{$g-css-prefix}-buildings-tree:before { content:$g-var-buildings-tree;}
.#{$g-css-prefix}-buildings-tree-2:before { content:$g-var-buildings-tree-2;}
.#{$g-css-prefix}-buildings-villa:before { content:$g-var-buildings-villa;}
.#{$g-css-prefix}-buildings-tree-3:before { content:$g-var-buildings-tree-3;}
.#{$g-css-prefix}-buildings-nuclear:before { content:$g-var-buildings-nuclear;}
.#{$g-css-prefix}-buildings-open-door:before { content:$g-var-buildings-open-door;}
.#{$g-css-prefix}-buildings-plain:before { content:$g-var-buildings-plain;}
.#{$g-css-prefix}-buildings-plain-2:before { content:$g-var-buildings-plain-2;}
.#{$g-css-prefix}-buildings-plain-3:before { content:$g-var-buildings-plain-3;}
.#{$g-css-prefix}-buildings-store-front:before { content:$g-var-buildings-store-front;}
.#{$g-css-prefix}-buildings-window:before { content:$g-var-buildings-window;}
.#{$g-css-prefix}-buildings-wind-mill:before { content:$g-var-buildings-wind-mill;}
.#{$g-css-prefix}-buildings-warehouse:before { content:$g-var-buildings-warehouse;}
.#{$g-css-prefix}-buildings-villa-2:before { content:$g-var-buildings-villa-2;}
.#{$g-css-prefix}-buildings-mosque:before { content:$g-var-buildings-mosque;}
.#{$g-css-prefix}-buildings-lighthouse-2:before { content:$g-var-buildings-lighthouse-2;}
.#{$g-css-prefix}-buildings-lighthouse:before { content:$g-var-buildings-lighthouse;}
.#{$g-css-prefix}-buildings-house-chimney:before { content:$g-var-buildings-house-chimney;}
.#{$g-css-prefix}-buildings-house:before { content:$g-var-buildings-house;}
.#{$g-css-prefix}-buildings-hall:before { content:$g-var-buildings-hall;}
.#{$g-css-prefix}-celeb-bags:before { content:$g-var-celeb-bags;}
.#{$g-css-prefix}-celeb-ballon:before { content:$g-var-celeb-ballon;}
.#{$g-css-prefix}-celeb-ballons:before { content:$g-var-celeb-ballons;}
.#{$g-css-prefix}-celeb-bell:before { content:$g-var-celeb-bell;}
.#{$g-css-prefix}-celeb-bells:before { content:$g-var-celeb-bells;}
.#{$g-css-prefix}-celeb-candle:before { content:$g-var-celeb-candle;}
.#{$g-css-prefix}-celeb-candle-glass:before { content:$g-var-celeb-candle-glass;}
.#{$g-css-prefix}-celeb-christmas-ball:before { content:$g-var-celeb-christmas-ball;}
.#{$g-css-prefix}-celeb-christmas-ball-2:before { content:$g-var-celeb-christmas-ball-2;}
.#{$g-css-prefix}-celeb-christmas-balls:before { content:$g-var-celeb-christmas-balls;}
.#{$g-css-prefix}-celeb-christmas-deco:before { content:$g-var-celeb-christmas-deco;}
.#{$g-css-prefix}-celeb-christmas-stick:before { content:$g-var-celeb-christmas-stick;}
.#{$g-css-prefix}-celeb-christmas-tree:before { content:$g-var-celeb-christmas-tree;}
.#{$g-css-prefix}-celeb-hot-air-ballon:before { content:$g-var-celeb-hot-air-ballon;}
.#{$g-css-prefix}-clothes-academic-cap:before { content:$g-var-clothes-academic-cap;}
.#{$g-css-prefix}-clothes-hoodie:before { content:$g-var-clothes-hoodie;}
.#{$g-css-prefix}-clothes-heels-2:before { content:$g-var-clothes-heels-2;}
.#{$g-css-prefix}-clothes-heels:before { content:$g-var-clothes-heels;}
.#{$g-css-prefix}-clothes-gloves:before { content:$g-var-clothes-gloves;}
.#{$g-css-prefix}-clothes-glasses:before { content:$g-var-clothes-glasses;}
.#{$g-css-prefix}-clothes-dress-2:before { content:$g-var-clothes-dress-2;}
.#{$g-css-prefix}-clothes-dress:before { content:$g-var-clothes-dress;}
.#{$g-css-prefix}-clothes-coathanger:before { content:$g-var-clothes-coathanger;}
.#{$g-css-prefix}-clothes-brasier:before { content:$g-var-clothes-brasier;}
.#{$g-css-prefix}-clothes-bikini:before { content:$g-var-clothes-bikini;}
.#{$g-css-prefix}-clothes-belt:before { content:$g-var-clothes-belt;}
.#{$g-css-prefix}-clothes-baseball-hat:before { content:$g-var-clothes-baseball-hat;}
.#{$g-css-prefix}-clothes-backpack:before { content:$g-var-clothes-backpack;}
.#{$g-css-prefix}-celeb-leaf:before { content:$g-var-celeb-leaf;}
.#{$g-css-prefix}-celeb-lifeguard:before { content:$g-var-celeb-lifeguard;}
.#{$g-css-prefix}-celeb-drink-2:before { content:$g-var-celeb-drink-2;}
.#{$g-css-prefix}-celeb-drink:before { content:$g-var-celeb-drink;}
.#{$g-css-prefix}-celeb-easter-egg:before { content:$g-var-celeb-easter-egg;}
.#{$g-css-prefix}-celeb-magic-stick:before { content:$g-var-celeb-magic-stick;}
.#{$g-css-prefix}-celeb-mask:before { content:$g-var-celeb-mask;}
.#{$g-css-prefix}-celeb-easter-eg2:before { content:$g-var-celeb-easter-egg-2;}
.#{$g-css-prefix}-celeb-gift:before { content:$g-var-celeb-gift;}
.#{$g-css-prefix}-celeb-halloween-bat:before { content:$g-var-celeb-halloween-bat;}
.#{$g-css-prefix}-celeb-gift-2:before { content:$g-var-celeb-gift-2;}
.#{$g-css-prefix}-celeb-patio:before { content:$g-var-celeb-patio;}
.#{$g-css-prefix}-celeb-mask-2:before { content:$g-var-celeb-mask-2;}
.#{$g-css-prefix}-celeb-snowflake:before { content:$g-var-celeb-snowflake;}
.#{$g-css-prefix}-celeb-snowflake-2:before { content:$g-var-celeb-snowflake-2;}
.#{$g-css-prefix}-celeb-snowflake-3:before { content:$g-var-celeb-snowflake-3;}
.#{$g-css-prefix}-celeb-star:before { content:$g-var-celeb-star;}
.#{$g-css-prefix}-celeb-tags:before { content:$g-var-celeb-tags;}
.#{$g-css-prefix}-celeb-wine-glass:before { content:$g-var-celeb-wine-glass;}
.#{$g-css-prefix}-celeb-halloween-skull:before { content:$g-var-celeb-halloween-skull;}
.#{$g-css-prefix}-celeb-halloween-pumkin:before { content:$g-var-celeb-halloween-pumkin;}
.#{$g-css-prefix}-celeb-halloween-hat:before { content:$g-var-celeb-halloween-hat;}
.#{$g-css-prefix}-celeb-halloween-ghost:before { content:$g-var-celeb-halloween-ghost;}
.#{$g-css-prefix}-celeb-halloween-coffin:before { content:$g-var-celeb-halloween-coffin;}
.#{$g-css-prefix}-clothes-hoodie-2:before { content:$g-var-clothes-hoodie-2;}
.#{$g-css-prefix}-clothes-tie:before { content:$g-var-clothes-tie;}
.#{$g-css-prefix}-control-arrow-ld:before { content:$g-var-control-arrow-ld;}
.#{$g-css-prefix}-control-arrow-wide-down:before { content:$g-var-control-arrow-wide-down;}
.#{$g-css-prefix}-control-caret-line-down:before { content:$g-var-control-caret-line-down;}
.#{$g-css-prefix}-control-connection-right:before { content:$g-var-control-connection-right;}
.#{$g-css-prefix}-control-repeat:before { content:$g-var-control-repeat;}
.#{$g-css-prefix}-control-settings:before { content:$g-var-control-settings;}
.#{$g-css-prefix}-control-settings-2:before { content:$g-var-control-settings-2;}
.#{$g-css-prefix}-control-settings-3:before { content:$g-var-control-settings-3;}
.#{$g-css-prefix}-control-switch-on:before { content:$g-var-control-switch-on;}
.#{$g-css-prefix}-control-upload:before { content:$g-var-control-upload;}
.#{$g-css-prefix}-control-visual:before { content:$g-var-control-visual;}
.#{$g-css-prefix}-control-visual-graphs:before { content:$g-var-control-visual-graphs;}
.#{$g-css-prefix}-control-volume-1:before { content:$g-var-control-volume-1;}
.#{$g-css-prefix}-control-volume-3:before { content:$g-var-control-volume-3;}
.#{$g-css-prefix}-control-volume-block:before { content:$g-var-control-volume-block;}
.#{$g-css-prefix}-control-volume-minus:before { content:$g-var-control-volume-minus;}
.#{$g-css-prefix}-control-volume-mute:before { content:$g-var-control-volume-mute;}
.#{$g-css-prefix}-clothes-pants:before { content:$g-var-clothes-pants;}
.#{$g-css-prefix}-clothes-purse:before { content:$g-var-clothes-purse;}
.#{$g-css-prefix}-clothes-sandals:before { content:$g-var-clothes-sandals;}
.#{$g-css-prefix}-clothes-shirt:before { content:$g-var-clothes-shirt;}
.#{$g-css-prefix}-clothes-shoe:before { content:$g-var-clothes-shoe;}
.#{$g-css-prefix}-clothes-shoe-2:before { content:$g-var-clothes-shoe-2;}
.#{$g-css-prefix}-clothes-shorts:before { content:$g-var-clothes-shorts;}
.#{$g-css-prefix}-clothes-sock:before { content:$g-var-clothes-sock;}
.#{$g-css-prefix}-clothes-sock-2:before { content:$g-var-clothes-sock-2;}
.#{$g-css-prefix}-clothes-swim-suit:before { content:$g-var-clothes-swim-suit;}
.#{$g-css-prefix}-clothes-swim-suit-2:before { content:$g-var-clothes-swim-suit-2;}
.#{$g-css-prefix}-clothes-tank-top:before { content:$g-var-clothes-tank-top;}
.#{$g-css-prefix}-clothes-top-cap:before { content:$g-var-clothes-top-cap;}
.#{$g-css-prefix}-clothes-tshirt:before { content:$g-var-clothes-tshirt;}
.#{$g-css-prefix}-clothes-underwear:before { content:$g-var-clothes-underwear;}
.#{$g-css-prefix}-clothes-underwear-2:before { content:$g-var-clothes-underwear-2;}
.#{$g-css-prefix}-clothes-vest:before { content:$g-var-clothes-vest;}
.#{$g-css-prefix}-control-anti-clockwise:before { content:$g-var-control-anti-clockwise;}
.#{$g-css-prefix}-control-anti-direction:before { content:$g-var-control-anti-direction;}
.#{$g-css-prefix}-control-anti-reload:before { content:$g-var-control-anti-reload;}
.#{$g-css-prefix}-control-arrow-clockwise:before { content:$g-var-control-arrow-clockwise;}
.#{$g-css-prefix}-control-arrow-connection:before { content:$g-var-control-arrow-connection;}
.#{$g-css-prefix}-control-arrow-hook-left:before { content:$g-var-control-arrow-hook-left;}
.#{$g-css-prefix}-control-arrow-hook-right:before { content:$g-var-control-arrow-hook-right;}
.#{$g-css-prefix}-control-arrow-line-down:before { content:$g-var-control-arrow-line-down;}
.#{$g-css-prefix}-control-arrow-line-left:before { content:$g-var-control-arrow-line-left;}
.#{$g-css-prefix}-control-arrow-line-right:before { content:$g-var-control-arrow-line-right;}
.#{$g-css-prefix}-control-arrow-lt:before { content:$g-var-control-arrow-lt;}
.#{$g-css-prefix}-control-arrow-rd:before { content:$g-var-control-arrow-rd;}
.#{$g-css-prefix}-control-arrow-rotate-h:before { content:$g-var-control-arrow-rotate-h;}
.#{$g-css-prefix}-control-arrow-rotate-v:before { content:$g-var-control-arrow-rotate-v;}
.#{$g-css-prefix}-control-arrow-rt:before { content:$g-var-control-arrow-rt;}
.#{$g-css-prefix}-control-arrow-track-fill-v:before { content:$g-var-control-arrow-track-fill-v;}
.#{$g-css-prefix}-control-arrow-track-h:before { content:$g-var-control-arrow-track-h;}
.#{$g-css-prefix}-control-arrow-track-v:before { content:$g-var-control-arrow-track-v;}
.#{$g-css-prefix}-control-arrow-up:before { content:$g-var-control-arrow-up;}
.#{$g-css-prefix}-control-caret-left:before { content:$g-var-control-caret-left;}
.#{$g-css-prefix}-control-caret-down:before { content:$g-var-control-caret-down;}
.#{$g-css-prefix}-control-cared-square-right:before { content:$g-var-control-cared-square-right;}
.#{$g-css-prefix}-control-button:before { content:$g-var-control-button;}
.#{$g-css-prefix}-control-arrows-vert:before { content:$g-var-control-arrows-vert;}
.#{$g-css-prefix}-control-arrows-horizontal:before { content:$g-var-control-arrows-horizontal;}
.#{$g-css-prefix}-control-arrows-extand:before { content:$g-var-control-arrows-extand;}
.#{$g-css-prefix}-control-arrows-expand:before { content:$g-var-control-arrows-expand;}
.#{$g-css-prefix}-control-arrows-corner:before { content:$g-var-control-arrows-corner;}
.#{$g-css-prefix}-control-arrow-wide-up:before { content:$g-var-control-arrow-wide-up;}
.#{$g-css-prefix}-control-arrow-wide-right:before { content:$g-var-control-arrow-wide-right;}
.#{$g-css-prefix}-control-arrow-wide-left:before { content:$g-var-control-arrow-wide-left;}
.#{$g-css-prefix}-control-caret-line-left:before { content:$g-var-control-caret-line-left;}
.#{$g-css-prefix}-control-download:before { content:$g-var-control-download;}
.#{$g-css-prefix}-control-filter-down:before { content:$g-var-control-filter-down;}
.#{$g-css-prefix}-control-filter-fill-vertical:before { content:$g-var-control-filter-fill-vertical;}
.#{$g-css-prefix}-control-filter-up:before { content:$g-var-control-filter-up;}
.#{$g-css-prefix}-control-filter-vertical:before { content:$g-var-control-filter-vertical;}
.#{$g-css-prefix}-control-gear:before { content:$g-var-control-gear;}
.#{$g-css-prefix}-control-infinity:before { content:$g-var-control-infinity;}
.#{$g-css-prefix}-control-loop:before { content:$g-var-control-loop;}
.#{$g-css-prefix}-control-node-left:before { content:$g-var-control-node-left;}
.#{$g-css-prefix}-control-node-right:before { content:$g-var-control-node-right;}
.#{$g-css-prefix}-control-reload:before { content:$g-var-control-reload;}
.#{$g-css-prefix}-control-reload-2:before { content:$g-var-control-reload-2;}
.#{$g-css-prefix}-control-caret-line-right:before { content:$g-var-control-caret-line-right;}
.#{$g-css-prefix}-control-caret-line-up:before { content:$g-var-control-caret-line-up;}
.#{$g-css-prefix}-control-caret-right:before { content:$g-var-control-caret-right;}
.#{$g-css-prefix}-control-caret-square-down:before { content:$g-var-control-caret-square-down;}
.#{$g-css-prefix}-control-caret-square-left:before { content:$g-var-control-caret-square-left;}
.#{$g-css-prefix}-control-caret-square-up:before { content:$g-var-control-caret-square-up;}
.#{$g-css-prefix}-control-caret-up:before { content:$g-var-control-caret-up;}
.#{$g-css-prefix}-control-channels:before { content:$g-var-control-channels;}
.#{$g-css-prefix}-control-circle-cycle:before { content:$g-var-control-circle-cycle;}
.#{$g-css-prefix}-control-clockwise:before { content:$g-var-control-clockwise;}
.#{$g-css-prefix}-control-connection-left:before { content:$g-var-control-connection-left;}
.#{$g-css-prefix}-control-volume-plus:before { content:$g-var-control-volume-plus;}
.#{$g-css-prefix}-design-rotate-l:before { content:$g-var-design-rotate-l;}
.#{$g-css-prefix}-devices-bookmark-file:before { content:$g-var-devices-bookmark-file;}
.#{$g-css-prefix}-devices-headphones:before { content:$g-var-devices-headphones;}
.#{$g-css-prefix}-doc-board-check:before { content:$g-var-doc-board-check;}
.#{$g-css-prefix}-doc-file-audio:before { content:$g-var-doc-file-audio;}
.#{$g-css-prefix}-doc-file-image:before { content:$g-var-doc-file-image;}
.#{$g-css-prefix}-doc-file-transfer:before { content:$g-var-doc-file-transfer;}
.#{$g-css-prefix}-doc-file-trash:before { content:$g-var-doc-file-trash;}
.#{$g-css-prefix}-doc-file-unlock:before { content:$g-var-doc-file-unlock;}
.#{$g-css-prefix}-doc-file-upload:before { content:$g-var-doc-file-upload;}
.#{$g-css-prefix}-doc-file-user:before { content:$g-var-doc-file-user;}
.#{$g-css-prefix}-doc-file-xls:before { content:$g-var-doc-file-xls;}
.#{$g-css-prefix}-doc-file-zip:before { content:$g-var-doc-file-zip;}
.#{$g-css-prefix}-doc-folder-add:before { content:$g-var-doc-folder-add;}
.#{$g-css-prefix}-doc-folder-block:before { content:$g-var-doc-folder-block;}
.#{$g-css-prefix}-doc-folder-check:before { content:$g-var-doc-folder-check;}
.#{$g-css-prefix}-doc-folder-close:before { content:$g-var-doc-folder-close;}
.#{$g-css-prefix}-doc-folder-cloud:before { content:$g-var-doc-folder-cloud;}
.#{$g-css-prefix}-doc-folder-edit:before { content:$g-var-doc-folder-edit;}
.#{$g-css-prefix}-design-book:before { content:$g-var-design-book;}
.#{$g-css-prefix}-design-close:before { content:$g-var-design-close;}
.#{$g-css-prefix}-design-eyedroper:before { content:$g-var-design-eyedroper;}
.#{$g-css-prefix}-design-eyedroper-2:before { content:$g-var-design-eyedroper-2;}
.#{$g-css-prefix}-design-flat-brush:before { content:$g-var-design-flat-brush;}
.#{$g-css-prefix}-design-large-brush:before { content:$g-var-design-large-brush;}
.#{$g-css-prefix}-design-move:before { content:$g-var-design-move;}
.#{$g-css-prefix}-design-paint-bucket:before { content:$g-var-design-paint-bucket;}
.#{$g-css-prefix}-design-palet:before { content:$g-var-design-palet;}
.#{$g-css-prefix}-design-pen:before { content:$g-var-design-pen;}
.#{$g-css-prefix}-design-pen-2:before { content:$g-var-design-pen-2;}
.#{$g-css-prefix}-design-printer:before { content:$g-var-design-printer;}
.#{$g-css-prefix}-design-rotate-r:before { content:$g-var-design-rotate-r;}
.#{$g-css-prefix}-design-round-brush:before { content:$g-var-design-round-brush;}
.#{$g-css-prefix}-design-ruler-pen:before { content:$g-var-design-ruler-pen;}
.#{$g-css-prefix}-design-scale-up:before { content:$g-var-design-scale-up;}
.#{$g-css-prefix}-design-send:before { content:$g-var-design-send;}
.#{$g-css-prefix}-design-star:before { content:$g-var-design-star;}
.#{$g-css-prefix}-design-tools:before { content:$g-var-design-tools;}
.#{$g-css-prefix}-devices-battery-3:before { content:$g-var-devices-battery-3;}
.#{$g-css-prefix}-devices-battery-2:before { content:$g-var-devices-battery-2;}
.#{$g-css-prefix}-design-trash:before { content:$g-var-design-trash;}
.#{$g-css-prefix}-devices-battery-charging:before { content:$g-var-devices-battery-charging;}
.#{$g-css-prefix}-devices-battery-empty:before { content:$g-var-devices-battery-empty;}
.#{$g-css-prefix}-devices-broken-link:before { content:$g-var-devices-broken-link;}
.#{$g-css-prefix}-devices-network:before { content:$g-var-devices-network;}
.#{$g-css-prefix}-doc-board-close:before { content:$g-var-doc-board-close;}
.#{$g-css-prefix}-doc-file-blocked:before { content:$g-var-doc-file-blocked;}
.#{$g-css-prefix}-doc-file-jpg:before { content:$g-var-doc-file-jpg;}
.#{$g-css-prefix}-doc-file-letter:before { content:$g-var-doc-file-letter;}
.#{$g-css-prefix}-doc-file-list:before { content:$g-var-doc-file-list;}
.#{$g-css-prefix}-doc-file-list-2:before { content:$g-var-doc-file-list-2;}
.#{$g-css-prefix}-doc-file-lock:before { content:$g-var-doc-file-lock;}
.#{$g-css-prefix}-doc-file-minus:before { content:$g-var-doc-file-minus;}
.#{$g-css-prefix}-doc-file-notification:before { content:$g-var-doc-file-notification;}
.#{$g-css-prefix}-doc-file-pen:before { content:$g-var-doc-file-pen;}
.#{$g-css-prefix}-doc-file-play:before { content:$g-var-doc-file-play;}
.#{$g-css-prefix}-doc-file-png:before { content:$g-var-doc-file-png;}
.#{$g-css-prefix}-doc-file-spreadsheet:before { content:$g-var-doc-file-spreadsheet;}
.#{$g-css-prefix}-doc-file-success:before { content:$g-var-doc-file-success;}
.#{$g-css-prefix}-devices-charged:before { content:$g-var-devices-charged;}
.#{$g-css-prefix}-devices-cloud-close:before { content:$g-var-devices-cloud-close;}
.#{$g-css-prefix}-devices-cloud-down:before { content:$g-var-devices-cloud-down;}
.#{$g-css-prefix}-devices-cloud-success:before { content:$g-var-devices-cloud-success;}
.#{$g-css-prefix}-devices-cloud-up:before { content:$g-var-devices-cloud-up;}
.#{$g-css-prefix}-devices-drive:before { content:$g-var-devices-drive;}
.#{$g-css-prefix}-devices-file-check:before { content:$g-var-devices-file-check;}
.#{$g-css-prefix}-devices-file-down:before { content:$g-var-devices-file-down;}
.#{$g-css-prefix}-devices-file-import:before { content:$g-var-devices-file-import;}
.#{$g-css-prefix}-devices-file-up:before { content:$g-var-devices-file-up;}
.#{$g-css-prefix}-devices-floppy:before { content:$g-var-devices-floppy;}
.#{$g-css-prefix}-devices-new-file:before { content:$g-var-devices-new-file;}
.#{$g-css-prefix}-devices-phone:before { content:$g-var-devices-phone;}
.#{$g-css-prefix}-devices-phones:before { content:$g-var-devices-phones;}
.#{$g-css-prefix}-devices-printer:before { content:$g-var-devices-printer;}
.#{$g-css-prefix}-devices-responsive:before { content:$g-var-devices-responsive;}
.#{$g-css-prefix}-devices-tablet:before { content:$g-var-devices-tablet;}
.#{$g-css-prefix}-doc:before { content:$g-var-doc;}
.#{$g-css-prefix}-doc-acrobat:before { content:$g-var-doc-acrobat;}
.#{$g-css-prefix}-doc-board:before { content:$g-var-doc-board;}
.#{$g-css-prefix}-doc-board-add:before { content:$g-var-doc-board-add;}
.#{$g-css-prefix}-doc-board-blank:before { content:$g-var-doc-board-blank;}
.#{$g-css-prefix}-doc-board-edit:before { content:$g-var-doc-board-edit;}
.#{$g-css-prefix}-doc-board-lock:before { content:$g-var-doc-board-lock;}
.#{$g-css-prefix}-doc-board-minus:before { content:$g-var-doc-board-minus;}
.#{$g-css-prefix}-doc-board-pen:before { content:$g-var-doc-board-pen;}
.#{$g-css-prefix}-doc-board-unlock:before { content:$g-var-doc-board-unlock;}
.#{$g-css-prefix}-doc-bookmark-files:before { content:$g-var-doc-bookmark-files;}
.#{$g-css-prefix}-doc-copy:before { content:$g-var-doc-copy;}
.#{$g-css-prefix}-doc-disorder-list:before { content:$g-var-doc-disorder-list;}
.#{$g-css-prefix}-doc-doc-file:before { content:$g-var-doc-doc-file;}
.#{$g-css-prefix}-doc-file2:before { content:$g-var-doc-file2;}
.#{$g-css-prefix}-doc-file-alert:before { content:$g-var-doc-file-alert;}
.#{$g-css-prefix}-doc-file-check:before { content:$g-var-doc-file-check;}
.#{$g-css-prefix}-doc-file-close:before { content:$g-var-doc-file-close;}
.#{$g-css-prefix}-doc-file-cloud:before { content:$g-var-doc-file-cloud;}
.#{$g-css-prefix}-doc-file-code:before { content:$g-var-doc-file-code;}
.#{$g-css-prefix}-doc-file-copy:before { content:$g-var-doc-file-copy;}
.#{$g-css-prefix}-doc-file-copy-2:before { content:$g-var-doc-file-copy-2;}
.#{$g-css-prefix}-doc-file-download:before { content:$g-var-doc-file-download;}
.#{$g-css-prefix}-doc-file-drawer:before { content:$g-var-doc-file-drawer;}
.#{$g-css-prefix}-doc-file-edit:before { content:$g-var-doc-file-edit;}
.#{$g-css-prefix}-doc-file-folder:before { content:$g-var-doc-file-folder;}
.#{$g-css-prefix}-doc-file-graph:before { content:$g-var-doc-file-graph;}
.#{$g-css-prefix}-doc-folder-loading:before { content:$g-var-doc-folder-loading;}
.#{$g-css-prefix}-doc-folder-refresh:before { content:$g-var-doc-folder-refresh;}
.#{$g-css-prefix}-doc-folder-remove:before { content:$g-var-doc-folder-remove;}
.#{$g-css-prefix}-doc-folder-zip:before { content:$g-var-doc-folder-zip;}
.#{$g-css-prefix}-doc-newspaper:before { content:$g-var-doc-newspaper;}
.#{$g-css-prefix}-editing-block:before { content:$g-var-editing-block;}
.#{$g-css-prefix}-editing-blocks:before { content:$g-var-editing-blocks;}
.#{$g-css-prefix}-editing-board:before { content:$g-var-editing-board;}
.#{$g-css-prefix}-editing-board-blank:before { content:$g-var-editing-board-blank;}
.#{$g-css-prefix}-editing-ink:before { content:$g-var-editing-ink;}
.#{$g-css-prefix}-editing-leaf:before { content:$g-var-editing-leaf;}
.#{$g-css-prefix}-editing-marker:before { content:$g-var-editing-marker;}
.#{$g-css-prefix}-editing-move:before { content:$g-var-editing-move;}
.#{$g-css-prefix}-editing-paper:before { content:$g-var-editing-paper;}
.#{$g-css-prefix}-finance-dollar:before { content:$g-var-finance-dollar;}
.#{$g-css-prefix}-finance-thumb-lock:before { content:$g-var-finance-thumb-lock;}
.#{$g-css-prefix}-food-bottle-wine:before { content:$g-var-food-bottle-wine;}
.#{$g-css-prefix}-food-fish:before { content:$g-var-food-fish;}
.#{$g-css-prefix}-game-gamepad:before { content:$g-var-game-gamepad;}
.#{$g-css-prefix}-food-toilete-paper:before { content:$g-var-food-toilete-paper;}
.#{$g-css-prefix}-editing-ruler:before { content:$g-var-editing-ruler;}
.#{$g-css-prefix}-finance-abacus:before { content:$g-var-finance-abacus;}
.#{$g-css-prefix}-finance-bill:before { content:$g-var-finance-bill;}
.#{$g-css-prefix}-finance-calculator:before { content:$g-var-finance-calculator;}
.#{$g-css-prefix}-finance-cart:before { content:$g-var-finance-cart;}
.#{$g-css-prefix}-finance-cart-card:before { content:$g-var-finance-cart-card;}
.#{$g-css-prefix}-finance-cash:before { content:$g-var-finance-cash;}
.#{$g-css-prefix}-finance-coin-bitcoin:before { content:$g-var-finance-coin-bitcoin;}
.#{$g-css-prefix}-finance-coin-pound:before { content:$g-var-finance-coin-pound;}
.#{$g-css-prefix}-finance-coin-yen:before { content:$g-var-finance-coin-yen;}
.#{$g-css-prefix}-finance-coins:before { content:$g-var-finance-coins;}
.#{$g-css-prefix}-finance-delivery:before { content:$g-var-finance-delivery;}
.#{$g-css-prefix}-finance-dollar-1:before { content:$g-var-finance-dollar-1;}
.#{$g-css-prefix}-finance-thumb-locker:before { content:$g-var-finance-thumb-locker;}
.#{$g-css-prefix}-food-bread:before { content:$g-var-food-bread;}
.#{$g-css-prefix}-food-grapes:before { content:$g-var-food-grapes;}
.#{$g-css-prefix}-food-watermelon:before { content:$g-var-food-watermelon;}
.#{$g-css-prefix}-game-helmet:before { content:$g-var-game-helmet;}
.#{$g-css-prefix}-game-medal:before { content:$g-var-game-medal;}
.#{$g-css-prefix}-game-portable:before { content:$g-var-game-portable;}
.#{$g-css-prefix}-game-target:before { content:$g-var-game-target;}
.#{$g-css-prefix}-game-train:before { content:$g-var-game-train;}
.#{$g-css-prefix}-game-trophy:before { content:$g-var-game-trophy;}
.#{$g-css-prefix}-game-voleyball:before { content:$g-var-game-voleyball;}
.#{$g-css-prefix}-game-winner:before { content:$g-var-game-winner;}
.#{$g-css-prefix}-gglobal:before { content:$g-var-gglobal;}
.#{$g-css-prefix}-household-bed:before { content:$g-var-household-bed;}
.#{$g-css-prefix}-household-chair:before { content:$g-var-household-chair;}
.#{$g-css-prefix}-household-clock:before { content:$g-var-household-clock;}
.#{$g-css-prefix}-game-dice-2:before { content:$g-var-game-dice-2;}
.#{$g-css-prefix}-food-strawberry:before { content:$g-var-food-strawberry;}
.#{$g-css-prefix}-food-eggplant:before { content:$g-var-food-eggplant;}
.#{$g-css-prefix}-food-bottle-beer:before { content:$g-var-food-bottle-beer;}
.#{$g-css-prefix}-finance-shipper:before { content:$g-var-finance-shipper;}
.#{$g-css-prefix}-finance-dollar-10:before { content:$g-var-finance-dollar-10;}
.#{$g-css-prefix}-finance-truck:before { content:$g-var-finance-truck;}
.#{$g-css-prefix}-food-carrot:before { content:$g-var-food-carrot;}
.#{$g-css-prefix}-food-hot-food:before { content:$g-var-food-hot-food;}
.#{$g-css-prefix}-food-wine-glass:before { content:$g-var-food-wine-glass;}
.#{$g-css-prefix}-game-archery:before { content:$g-var-game-archery;}
.#{$g-css-prefix}-game-ball:before { content:$g-var-game-ball;}
.#{$g-css-prefix}-game-baseball:before { content:$g-var-game-baseball;}
.#{$g-css-prefix}-game-cards:before { content:$g-var-game-cards;}
.#{$g-css-prefix}-game-chess:before { content:$g-var-game-chess;}
.#{$g-css-prefix}-game-chess-2:before { content:$g-var-game-chess-2;}
.#{$g-css-prefix}-game-cycle:before { content:$g-var-game-cycle;}
.#{$g-css-prefix}-game-cycling:before { content:$g-var-game-cycling;}
.#{$g-css-prefix}-game-dice:before { content:$g-var-game-dice;}
.#{$g-css-prefix}-food-pizza:before { content:$g-var-food-pizza;}
.#{$g-css-prefix}-food-cup-cake:before { content:$g-var-food-cup-cake;}
.#{$g-css-prefix}-food-birthdaycake:before { content:$g-var-food-birthdaycake;}
.#{$g-css-prefix}-finance-safe:before { content:$g-var-finance-safe;}
.#{$g-css-prefix}-finance-dollar-coin:before { content:$g-var-finance-dollar-coin;}
.#{$g-css-prefix}-finance-wallet:before { content:$g-var-finance-wallet;}
.#{$g-css-prefix}-food-cheese:before { content:$g-var-food-cheese;}
.#{$g-css-prefix}-food-hotdog:before { content:$g-var-food-hotdog;}
.#{$g-css-prefix}-food-ice-cream-2:before { content:$g-var-food-ice-cream-2;}
.#{$g-css-prefix}-food-ice-cream-3:before { content:$g-var-food-ice-cream-3;}
.#{$g-css-prefix}-food-ice-cream-cone:before { content:$g-var-food-ice-cream-cone;}
.#{$g-css-prefix}-food-limonade:before { content:$g-var-food-limonade;}
.#{$g-css-prefix}-food-martini:before { content:$g-var-food-martini;}
.#{$g-css-prefix}-food-peas:before { content:$g-var-food-peas;}
.#{$g-css-prefix}-food-pistachio:before { content:$g-var-food-pistachio;}
.#{$g-css-prefix}-food-coocker:before { content:$g-var-food-coocker;}
.#{$g-css-prefix}-food-beer-mug:before { content:$g-var-food-beer-mug;}
.#{$g-css-prefix}-finance-report:before { content:$g-var-finance-report;}
.#{$g-css-prefix}-finance-piggy-dollar:before { content:$g-var-finance-piggy-dollar;}
.#{$g-css-prefix}-finance-piggy-bank:before { content:$g-var-finance-piggy-bank;}
.#{$g-css-prefix}-finance-money-rotate-2:before { content:$g-var-finance-money-rotate-2;}
.#{$g-css-prefix}-finance-money-rotate:before { content:$g-var-finance-money-rotate;}
.#{$g-css-prefix}-finance-money-bag:before { content:$g-var-finance-money-bag;}
.#{$g-css-prefix}-finance-galaxy:before { content:$g-var-finance-galaxy;}
.#{$g-css-prefix}-finance-wallet-2:before { content:$g-var-finance-wallet-2;}
.#{$g-css-prefix}-food-cheese-cake:before { content:$g-var-food-cheese-cake;}
.#{$g-css-prefix}-food-cherrys:before { content:$g-var-food-cherrys;}
.#{$g-css-prefix}-food-chicken:before { content:$g-var-food-chicken;}
.#{$g-css-prefix}-food-coffee:before { content:$g-var-food-coffee;}
.#{$g-css-prefix}-food-coffee-bean:before { content:$g-var-food-coffee-bean;}
.#{$g-css-prefix}-food-coffee-cup:before { content:$g-var-food-coffee-cup;}
.#{$g-css-prefix}-food-beand:before { content:$g-var-food-beand;}
.#{$g-css-prefix}-food-banana:before { content:$g-var-food-banana;}
.#{$g-css-prefix}-food-avocado:before { content:$g-var-food-avocado;}
.#{$g-css-prefix}-food-apple:before { content:$g-var-food-apple;}
.#{$g-css-prefix}-finance-wallet-alert:before { content:$g-var-finance-wallet-alert;}
.#{$g-css-prefix}-household-clock-2:before { content:$g-var-household-clock-2;}
.#{$g-css-prefix}-image-camera:before { content:$g-var-image-camera;}
.#{$g-css-prefix}-image-movie:before { content:$g-var-image-movie;}
.#{$g-css-prefix}-image-videocam:before { content:$g-var-image-videocam;}
.#{$g-css-prefix}-map-location:before { content:$g-var-map-location;}
.#{$g-css-prefix}-map-tracks:before { content:$g-var-map-tracks;}
.#{$g-css-prefix}-office-pad:before { content:$g-var-office-pad;}
.#{$g-css-prefix}-office-pad-pen:before { content:$g-var-office-pad-pen;}
.#{$g-css-prefix}-office-pad-pen-2:before { content:$g-var-office-pad-pen-2;}
.#{$g-css-prefix}-office-paperclip:before { content:$g-var-office-paperclip;}
.#{$g-css-prefix}-office-pen-ink:before { content:$g-var-office-pen-ink;}
.#{$g-css-prefix}-office-pencil:before { content:$g-var-office-pencil;}
.#{$g-css-prefix}-office-pencil-ruler:before { content:$g-var-office-pencil-ruler;}
.#{$g-css-prefix}-office-plant:before { content:$g-var-office-plant;}
.#{$g-css-prefix}-office-scissor:before { content:$g-var-office-scissor;}
.#{$g-css-prefix}-office-stamp:before { content:$g-var-office-stamp;}
.#{$g-css-prefix}-office-supplies:before { content:$g-var-office-supplies;}
.#{$g-css-prefix}-office-telephone:before { content:$g-var-office-telephone;}
.#{$g-css-prefix}-office-user-1:before { content:$g-var-office-user-1;}
.#{$g-css-prefix}-office-mail-open:before { content:$g-var-office-mail-open;}
.#{$g-css-prefix}-map-point-3:before { content:$g-var-map-point-3;}
.#{$g-css-prefix}-map-locate-lock:before { content:$g-var-map-locate-lock;}
.#{$g-css-prefix}-image-video-files:before { content:$g-var-image-video-files;}
.#{$g-css-prefix}-image-move-r:before { content:$g-var-image-move-r;}
.#{$g-css-prefix}-household-window:before { content:$g-var-household-window;}
.#{$g-css-prefix}-household-dinning-set:before { content:$g-var-household-dinning-set;}
.#{$g-css-prefix}-image-camera-2:before { content:$g-var-image-camera-2;}
.#{$g-css-prefix}-image-photo:before { content:$g-var-image-photo;}
.#{$g-css-prefix}-image-videocam-2:before { content:$g-var-image-videocam-2;}
.#{$g-css-prefix}-map-lock:before { content:$g-var-map-lock;}
.#{$g-css-prefix}-map-transmiter:before { content:$g-var-map-transmiter;}
.#{$g-css-prefix}-office-calendar-check:before { content:$g-var-office-calendar-check;}
.#{$g-css-prefix}-office-calendar-clock:before { content:$g-var-office-calendar-clock;}
.#{$g-css-prefix}-office-coffee:before { content:$g-var-office-coffee;}
.#{$g-css-prefix}-office-desk:before { content:$g-var-office-desk;}
.#{$g-css-prefix}-office-file-check:before { content:$g-var-office-file-check;}
.#{$g-css-prefix}-office-file-close:before { content:$g-var-office-file-close;}
.#{$g-css-prefix}-office-group:before { content:$g-var-office-group;}
.#{$g-css-prefix}-office-hourglass:before { content:$g-var-office-hourglass;}
.#{$g-css-prefix}-office-id-card:before { content:$g-var-office-id-card;}
.#{$g-css-prefix}-office-id-card-2:before { content:$g-var-office-id-card-2;}
.#{$g-css-prefix}-map-point-2:before { content:$g-var-map-point-2;}
.#{$g-css-prefix}-map-locate-3:before { content:$g-var-map-locate-3;}
.#{$g-css-prefix}-image-telephoto:before { content:$g-var-image-telephoto;}
.#{$g-css-prefix}-image-move-l:before { content:$g-var-image-move-l;}
.#{$g-css-prefix}-household-washing:before { content:$g-var-household-washing;}
.#{$g-css-prefix}-household-tv-station:before { content:$g-var-household-tv-station;}
.#{$g-css-prefix}-household-stoll:before { content:$g-var-household-stoll;}
.#{$g-css-prefix}-household-sofa-2:before { content:$g-var-household-sofa-2;}
.#{$g-css-prefix}-household-sofa:before { content:$g-var-household-sofa;}
.#{$g-css-prefix}-household-shelve:before { content:$g-var-household-shelve;}
.#{$g-css-prefix}-household-lamp:before { content:$g-var-household-lamp;}
.#{$g-css-prefix}-household-double-table:before { content:$g-var-household-double-table;}
.#{$g-css-prefix}-household-door:before { content:$g-var-household-door;}
.#{$g-css-prefix}-household-dish-washer:before { content:$g-var-household-dish-washer;}
.#{$g-css-prefix}-image-camera-3:before { content:$g-var-image-camera-3;}
.#{$g-css-prefix}-image-photos:before { content:$g-var-image-photos;}
.#{$g-css-prefix}-map-blank:before { content:$g-var-map-blank;}
.#{$g-css-prefix}-map-marker:before { content:$g-var-map-marker;}
.#{$g-css-prefix}-map-marker-2:before { content:$g-var-map-marker-2;}
.#{$g-css-prefix}-map-navigate:before { content:$g-var-map-navigate;}
.#{$g-css-prefix}-map-people-area:before { content:$g-var-map-people-area;}
.#{$g-css-prefix}-map-pin:before { content:$g-var-map-pin;}
.#{$g-css-prefix}-map-pin-2:before { content:$g-var-map-pin-2;}
.#{$g-css-prefix}-map-places-1:before { content:$g-var-map-places-1;}
.#{$g-css-prefix}-map-places-2:before { content:$g-var-map-places-2;}
.#{$g-css-prefix}-map-point:before { content:$g-var-map-point;}
.#{$g-css-prefix}-map-locate-2:before { content:$g-var-map-locate-2;}
.#{$g-css-prefix}-image-slider-video:before { content:$g-var-image-slider-video;}
.#{$g-css-prefix}-image-film-roll:before { content:$g-var-image-film-roll;}
.#{$g-css-prefix}-image-film:before { content:$g-var-image-film;}
.#{$g-css-prefix}-image-file-png:before { content:$g-var-image-file-png;}
.#{$g-css-prefix}-image-file-photo:before { content:$g-var-image-file-photo;}
.#{$g-css-prefix}-image-file-jpg:before { content:$g-var-image-file-jpg;}
.#{$g-css-prefix}-image-file:before { content:$g-var-image-file;}
.#{$g-css-prefix}-image-camera-flash-2:before { content:$g-var-image-camera-flash-2;}
.#{$g-css-prefix}-image-camera-flash:before { content:$g-var-image-camera-flash;}
.#{$g-css-prefix}-image-photos-2:before { content:$g-var-image-photos-2;}
.#{$g-css-prefix}-map-blank-2:before { content:$g-var-map-blank-2;}
.#{$g-css-prefix}-map-directions:before { content:$g-var-map-directions;}
.#{$g-css-prefix}-map-globe-pointer:before { content:$g-var-map-globe-pointer;}
.#{$g-css-prefix}-map-globe:before { content:$g-var-map-globe;}
.#{$g-css-prefix}-image-photos-4:before { content:$g-var-image-photos-4;}
.#{$g-css-prefix}-image-photos-3:before { content:$g-var-image-photos-3;}
.#{$g-css-prefix}-image-player:before { content:$g-var-image-player;}
.#{$g-css-prefix}-image-search-file:before { content:$g-var-image-search-file;}
.#{$g-css-prefix}-image-shutter:before { content:$g-var-image-shutter;}
.#{$g-css-prefix}-image-slider:before { content:$g-var-image-slider;}
.#{$g-css-prefix}-map-locate:before { content:$g-var-map-locate;}
.#{$g-css-prefix}-map-globe-stand:before { content:$g-var-map-globe-stand;}
.#{$g-css-prefix}-map-globe-search:before { content:$g-var-map-globe-search;}
.#{$g-css-prefix}-office-user-2:before { content:$g-var-office-user-2;}
.#{$g-css-prefix}-smiley-hmm:before { content:$g-var-smiley-hmm;}
.#{$g-css-prefix}-smiley-sick:before { content:$g-var-smiley-sick;}
.#{$g-css-prefix}-social-creative-commons:before { content:$g-var-social-creative-commons;}
.#{$g-css-prefix}-social-playstation:before { content:$g-var-social-playstation;}
.#{$g-css-prefix}-ui-bookmark:before { content:$g-var-ui-bookmark;}
.#{$g-css-prefix}-ui-settings:before { content:$g-var-ui-settings;}
.#{$g-css-prefix}-user-bookmark:before { content:$g-var-user-bookmark;}
.#{$g-css-prefix}-user-bookmark-2:before { content:$g-var-user-bookmark-2;}
.#{$g-css-prefix}-user-calendar:before { content:$g-var-user-calendar;}
.#{$g-css-prefix}-user-chart-bars-down:before { content:$g-var-user-chart-bars-down;}
.#{$g-css-prefix}-user-chart-pie:before { content:$g-var-user-chart-pie;}
.#{$g-css-prefix}-user-chart-pie-2:before { content:$g-var-user-chart-pie-2;}
.#{$g-css-prefix}-user-charts-bars:before { content:$g-var-user-charts-bars;}
.#{$g-css-prefix}-user-charts-bars-horizontal:before { content:$g-var-user-charts-bars-horizontal;}
.#{$g-css-prefix}-user-charts-bars-up:before { content:$g-var-user-charts-bars-up;}
.#{$g-css-prefix}-user-charts-line:before { content:$g-var-user-charts-line;}
.#{$g-css-prefix}-user-charts-line-2:before { content:$g-var-user-charts-line-2;}
.#{$g-css-prefix}-user-charts-line-up:before { content:$g-var-user-charts-line-up;}
.#{$g-css-prefix}-user-block:before { content:$g-var-user-block;}
.#{$g-css-prefix}-user-charts-pie:before { content:$g-var-user-charts-pie;}
.#{$g-css-prefix}-ui-progress-bar:before { content:$g-var-ui-progress-bar;}
.#{$g-css-prefix}-social-youtube:before { content:$g-var-social-youtube;}
.#{$g-css-prefix}-social-chrome:before { content:$g-var-social-chrome;}
.#{$g-css-prefix}-smiley-satisfied:before { content:$g-var-smiley-satisfied;}
.#{$g-css-prefix}-smiley-happy-tongue:before { content:$g-var-smiley-happy-tongue;}
.#{$g-css-prefix}-smiley-happy-2:before { content:$g-var-smiley-happy-2;}
.#{$g-css-prefix}-smiley-happy:before { content:$g-var-smiley-happy;}
.#{$g-css-prefix}-smiley-funny:before { content:$g-var-smiley-funny;}
.#{$g-css-prefix}-smiley-dead:before { content:$g-var-smiley-dead;}
.#{$g-css-prefix}-smiley-confused:before { content:$g-var-smiley-confused;}
.#{$g-css-prefix}-smiley-concern:before { content:$g-var-smiley-concern;}
.#{$g-css-prefix}-smiley-cocky:before { content:$g-var-smiley-cocky;}
.#{$g-css-prefix}-smiley-broken-heart:before { content:$g-var-smiley-broken-heart;}
.#{$g-css-prefix}-smiley-betrayal:before { content:$g-var-smiley-betrayal;}
.#{$g-css-prefix}-office-users:before { content:$g-var-office-users;}
.#{$g-css-prefix}-office-user-3:before { content:$g-var-office-user-3;}
.#{$g-css-prefix}-smiley-indiferent:before { content:$g-var-smiley-indiferent;}
.#{$g-css-prefix}-smiley-spooked:before { content:$g-var-smiley-spooked;}
.#{$g-css-prefix}-social-evernote:before { content:$g-var-social-evernote;}
.#{$g-css-prefix}-ui-bookmark-2:before { content:$g-var-ui-bookmark-2;}
.#{$g-css-prefix}-social-reddit:before { content:$g-var-social-reddit;}
.#{$g-css-prefix}-ui-settings-2:before { content:$g-var-ui-settings-2;}
.#{$g-css-prefix}-ui-tick:before { content:$g-var-ui-tick;}
.#{$g-css-prefix}-ui-trash:before { content:$g-var-ui-trash;}
.#{$g-css-prefix}-user-1:before { content:$g-var-user-1;}
.#{$g-css-prefix}-user-2:before { content:$g-var-user-2;}
.#{$g-css-prefix}-user-3:before { content:$g-var-user-3;}
.#{$g-css-prefix}-user-4:before { content:$g-var-user-4;}
.#{$g-css-prefix}-user-add:before { content:$g-var-user-add;}
.#{$g-css-prefix}-user-add-2:before { content:$g-var-user-add-2;}
.#{$g-css-prefix}-user-alert:before { content:$g-var-user-alert;}
.#{$g-css-prefix}-user-bars-vert:before { content:$g-var-user-bars-vert;}
.#{$g-css-prefix}-ui-play:before { content:$g-var-ui-play;}
.#{$g-css-prefix}-social-yelp:before { content:$g-var-social-yelp;}
.#{$g-css-prefix}-social-paypal:before { content:$g-var-social-paypal;}
.#{$g-css-prefix}-social-pinterest:before { content:$g-var-social-pinterest;}
.#{$g-css-prefix}-social-brackets:before { content:$g-var-social-brackets;}
.#{$g-css-prefix}-smiley-sad-3:before { content:$g-var-smiley-sad-3;}
.#{$g-css-prefix}-smiley-sad-2:before { content:$g-var-smiley-sad-2;}
.#{$g-css-prefix}-smiley-sad:before { content:$g-var-smiley-sad;}
.#{$g-css-prefix}-smiley-pain:before { content:$g-var-smiley-pain;}
.#{$g-css-prefix}-smiley-meditation:before { content:$g-var-smiley-meditation;}
.#{$g-css-prefix}-smiley-mad:before { content:$g-var-smiley-mad;}
.#{$g-css-prefix}-smiley-love-2:before { content:$g-var-smiley-love-2;}
.#{$g-css-prefix}-smiley-love:before { content:$g-var-smiley-love;}
.#{$g-css-prefix}-smiley-lol:before { content:$g-var-smiley-lol;}
.#{$g-css-prefix}-smiley-kid:before { content:$g-var-smiley-kid;}
.#{$g-css-prefix}-smiley-stich-mouth:before { content:$g-var-smiley-stich-mouth;}
.#{$g-css-prefix}-social-facebook:before { content:$g-var-social-facebook;}
.#{$g-css-prefix}-social-rss:before { content:$g-var-social-rss;}
.#{$g-css-prefix}-ui-clock:before { content:$g-var-ui-clock;}
.#{$g-css-prefix}-ui-clock-2:before { content:$g-var-ui-clock-2;}
.#{$g-css-prefix}-ui-drag-l:before { content:$g-var-ui-drag-l;}
.#{$g-css-prefix}-ui-gear:before { content:$g-var-ui-gear;}
.#{$g-css-prefix}-ui-mail-open:before { content:$g-var-ui-mail-open;}
.#{$g-css-prefix}-ui-mail:before { content:$g-var-ui-mail;}
.#{$g-css-prefix}-social-twitter:before { content:$g-var-social-twitter;}
.#{$g-css-prefix}-social-tumblr:before { content:$g-var-social-tumblr;}
.#{$g-css-prefix}-social-skype:before { content:$g-var-social-skype;}
.#{$g-css-prefix}-social-share:before { content:$g-var-social-share;}
.#{$g-css-prefix}-social-facebook-2:before { content:$g-var-social-facebook-2;}
.#{$g-css-prefix}-smiley-tasty:before { content:$g-var-smiley-tasty;}
.#{$g-css-prefix}-smiley-tongue:before { content:$g-var-smiley-tongue;}
.#{$g-css-prefix}-smiley-wink:before { content:$g-var-smiley-wink;}
.#{$g-css-prefix}-smiley-wink-2:before { content:$g-var-smiley-wink-2;}
.#{$g-css-prefix}-social-amazon:before { content:$g-var-social-amazon;}
.#{$g-css-prefix}-social-apple:before { content:$g-var-social-apple;}
.#{$g-css-prefix}-social-appstore:before { content:$g-var-social-appstore;}
.#{$g-css-prefix}-social-basecamp:before { content:$g-var-social-basecamp;}
.#{$g-css-prefix}-social-msn:before { content:$g-var-social-msn;}
.#{$g-css-prefix}-social-yahoo:before { content:$g-var-social-yahoo;}
.#{$g-css-prefix}-ui-pause:before { content:$g-var-ui-pause;}
.#{$g-css-prefix}-ui-page-copy:before { content:$g-var-ui-page-copy;}
.#{$g-css-prefix}-ui-page-add:before { content:$g-var-ui-page-add;}
.#{$g-css-prefix}-social-whatsapp:before { content:$g-var-social-whatsapp;}
.#{$g-css-prefix}-social-twitter-2:before { content:$g-var-social-twitter-2;}
.#{$g-css-prefix}-social-wordpress:before { content:$g-var-social-wordpress;}
.#{$g-css-prefix}-social-linkedin-2:before { content:$g-var-social-linkedin-2;}
.#{$g-css-prefix}-social-linkedin:before { content:$g-var-social-linkedin;}
.#{$g-css-prefix}-social-instagram:before { content:$g-var-social-instagram;}
.#{$g-css-prefix}-social-google-2:before { content:$g-var-social-google-2;}
.#{$g-css-prefix}-social-google:before { content:$g-var-social-google;}
.#{$g-css-prefix}-social-github:before { content:$g-var-social-github;}
.#{$g-css-prefix}-weather-thunder-rain-2:before { content:$g-var-weather-thunder-rain-2;}
.#{$g-css-prefix}-weather-snowflake:before { content:$g-var-weather-snowflake;}
.#{$g-css-prefix}-weather-cloudy-night:before { content:$g-var-weather-cloudy-night;}
.#{$g-css-prefix}-user-reload-2:before { content:$g-var-user-reload-2;}
.#{$g-css-prefix}-user-lock-2:before { content:$g-var-user-lock-2;}
.#{$g-css-prefix}-user-check:before { content:$g-var-user-check;}
.#{$g-css-prefix}-user-charts-pie-2:before { content:$g-var-user-charts-pie-2;}
.#{$g-css-prefix}-user-charts-wave:before { content:$g-var-user-charts-wave;}
.#{$g-css-prefix}-user-charts-waves:before { content:$g-var-user-charts-waves;}
.#{$g-css-prefix}-user-chat:before { content:$g-var-user-chat;}
.#{$g-css-prefix}-user-chat-2:before { content:$g-var-user-chat-2;}
.#{$g-css-prefix}-user-chat-3:before { content:$g-var-user-chat-3;}
.#{$g-css-prefix}-user-chat-4:before { content:$g-var-user-chat-4;}
.#{$g-css-prefix}-user-chat-5:before { content:$g-var-user-chat-5;}
.#{$g-css-prefix}-user-chat-6:before { content:$g-var-user-chat-6;}
.#{$g-css-prefix}-user-chat-7:before { content:$g-var-user-chat-7;}
.#{$g-css-prefix}-user-chat-8:before { content:$g-var-user-chat-8;}
.#{$g-css-prefix}-user-chat-9:before { content:$g-var-user-chat-9;}
.#{$g-css-prefix}-user-chat-10:before { content:$g-var-user-chat-10;}
.#{$g-css-prefix}-user-lock:before { content:$g-var-user-lock;}
.#{$g-css-prefix}-user-reload:before { content:$g-var-user-reload;}
.#{$g-css-prefix}-weather-cloudy:before { content:$g-var-weather-cloudy;}
.#{$g-css-prefix}-weather-showers-umbrella:before { content:$g-var-weather-showers-umbrella;}
.#{$g-css-prefix}-weather-thunder-rain:before { content:$g-var-weather-thunder-rain;}
.#{$g-css-prefix}-weather-thunder-2:before { content:$g-var-weather-thunder-2;}
.#{$g-css-prefix}-weather-thunder:before { content:$g-var-weather-thunder;}
.#{$g-css-prefix}-weather-thermometer-4:before { content:$g-var-weather-thermometer-4;}
.#{$g-css-prefix}-weather-thermometer-3:before { content:$g-var-weather-thermometer-3;}
.#{$g-css-prefix}-weather-thermometer-2:before { content:$g-var-weather-thermometer-2;}
.#{$g-css-prefix}-weather-thermometer-1:before { content:$g-var-weather-thermometer-1;}
.#{$g-css-prefix}-weather-thermometer:before { content:$g-var-weather-thermometer;}
.#{$g-css-prefix}-weather-sunshine:before { content:$g-var-weather-sunshine;}
.#{$g-css-prefix}-weather-sunset:before { content:$g-var-weather-sunset;}
.#{$g-css-prefix}-weather-sunny-cloudy:before { content:$g-var-weather-sunny-cloudy;}
.#{$g-css-prefix}-weather-sun:before { content:$g-var-weather-sun;}
.#{$g-css-prefix}-weather-thunder-storm:before { content:$g-var-weather-thunder-storm;}
.#{$g-css-prefix}-weather-thunderstorms:before { content:$g-var-weather-thunderstorms;}
.#{$g-css-prefix}-weather-umbrella:before { content:$g-var-weather-umbrella;}
.#{$g-css-prefix}-weather-wind:before { content:$g-var-weather-wind;}
.#{$g-css-prefix}-weather-low-rain:before { content:$g-var-weather-low-rain;}
.#{$g-css-prefix}-weather-half-rain:before { content:$g-var-weather-half-rain;}
.#{$g-css-prefix}-weather-drop:before { content:$g-var-weather-drop;}
.#{$g-css-prefix}-weather-drizzle:before { content:$g-var-weather-drizzle;}
.#{$g-css-prefix}-user-reload-3:before { content:$g-var-user-reload-3;}
.#{$g-css-prefix}-user-love:before { content:$g-var-user-love;}
.#{$g-css-prefix}-user-check-2:before { content:$g-var-user-check-2;}
.#{$g-css-prefix}-user-clock:before { content:$g-var-user-clock;}
.#{$g-css-prefix}-user-cloud:before { content:$g-var-user-cloud;}
.#{$g-css-prefix}-user-concact:before { content:$g-var-user-concact;}
.#{$g-css-prefix}-user-delete:before { content:$g-var-user-delete;}
.#{$g-css-prefix}-user-delete-2:before { content:$g-var-user-delete-2;}
.#{$g-css-prefix}-user-download:before { content:$g-var-user-download;}
.#{$g-css-prefix}-user-edit:before { content:$g-var-user-edit;}
.#{$g-css-prefix}-user-group:before { content:$g-var-user-group;}
.#{$g-css-prefix}-user-group-2:before { content:$g-var-user-group-2;}
.#{$g-css-prefix}-user-horizontal-bars:before { content:$g-var-user-horizontal-bars;}
.#{$g-css-prefix}-user-presentation-2:before { content:$g-var-user-presentation-2;}
.#{$g-css-prefix}-weather-cloud-thunder:before { content:$g-var-weather-cloud-thunder;}
.#{$g-css-prefix}-weather-showers:before { content:$g-var-weather-showers;}
.#{$g-css-prefix}-weather-rain-2:before { content:$g-var-weather-rain-2;}
.#{$g-css-prefix}-weather-rain-1:before { content:$g-var-weather-rain-1;}
.#{$g-css-prefix}-weather-night-thunder:before { content:$g-var-weather-night-thunder;}
.#{$g-css-prefix}-weather-night-rain:before { content:$g-var-weather-night-rain;}
.#{$g-css-prefix}-weather-night-drizzle:before { content:$g-var-weather-night-drizzle;}
.#{$g-css-prefix}-weather-low-rain-2:before { content:$g-var-weather-low-rain-2;}
.#{$g-css-prefix}-user-unlock:before { content:$g-var-user-unlock;}
.#{$g-css-prefix}-user-trash:before { content:$g-var-user-trash;}
.#{$g-css-prefix}-user-search:before { content:$g-var-user-search;}
.#{$g-css-prefix}-user-reload-4:before { content:$g-var-user-reload-4;}
.#{$g-css-prefix}-user-love-2:before { content:$g-var-user-love-2;}
.#{$g-css-prefix}-user-mail:before { content:$g-var-user-mail;}
.#{$g-css-prefix}-user-minus:before { content:$g-var-user-minus;}
.#{$g-css-prefix}-user-minus-2:before { content:$g-var-user-minus-2;}
.#{$g-css-prefix}-user-move:before { content:$g-var-user-move;}
.#{$g-css-prefix}-user-parabola:before { content:$g-var-user-parabola;}
.#{$g-css-prefix}-user-parabola-2:before { content:$g-var-user-parabola-2;}
.#{$g-css-prefix}-user-phone:before { content:$g-var-user-phone;}
.#{$g-css-prefix}-user-presentation:before { content:$g-var-user-presentation;}
.#{$g-css-prefix}-user-view-2:before { content:$g-var-user-view-2;}
.#{$g-css-prefix}-user-view:before { content:$g-var-user-view;}
.#{$g-css-prefix}-user-upload:before { content:$g-var-user-upload;}
.#{$g-css-prefix}-user-unlock-2:before { content:$g-var-user-unlock-2;}