
$g-font-path:        "../fonts/gicons/" !default;
$g-font-size-default:   14px !default;
$g-line-height-default: 1 !default;
$g-css-prefix:       g !default;
$g-version:          "0.1" !default;
$g-border-color:     #eee !default;
$g-inverse:          #fff !default;


$g-var-audio-cd:"\61";
$g-var-audio-cd-cover:"\62";
$g-var-audio-chimes:"\63";
$g-var-audio-ear-music:"\64";
$g-var-audio-ear-wave:"\65";
$g-var-audio-ear-wave-r:"\66";
$g-var-audio-headphone:"\67";
$g-var-audio-keyboard-s:"\68";
$g-var-audio-microphone:"\69";
$g-var-audio-microphone2:"\6a";
$g-var-audio-music-note1:"\6b";
$g-var-audio-music-note2:"\6c";
$g-var-audio-sound:"\6d";
$g-var-buildings-fire-place:"\6e";
$g-var-buildings-fence:"\6f";
$g-var-buildings-factory-3:"\70";
$g-var-buildings-factory-2:"\71";
$g-var-buildings-factory:"\72";
$g-var-buildings-coorporate-tower:"\73";
$g-var-buildings-coorporate-3:"\74";
$g-var-buildings-coorporate-2:"\75";
$g-var-buildings-coorporate:"\76";
$g-var-audio-wave:"\77";
$g-var-autdio-sound2:"\78";
$g-var-audio-sound-cancel:"\79";
$g-var-audio-sound1:"\7a";
$g-var-buildings-garage:"\41";
$g-var-buildings-store-front-2:"\42";
$g-var-buildings-store-front-check:"\43";
$g-var-buildings-store-front-delete:"\44";
$g-var-buildings-store-front-marker:"\45";
$g-var-buildings-tower:"\46";
$g-var-buildings-tree:"\47";
$g-var-buildings-tree-2:"\48";
$g-var-buildings-villa:"\49";
$g-var-buildings-tree-3:"\4a";
$g-var-buildings-nuclear:"\4b";
$g-var-buildings-open-door:"\4c";
$g-var-buildings-plain:"\4d";
$g-var-buildings-plain-2:"\4e";
$g-var-buildings-plain-3:"\4f";
$g-var-buildings-store-front:"\50";
$g-var-buildings-window:"\51";
$g-var-buildings-wind-mill:"\52";
$g-var-buildings-warehouse:"\53";
$g-var-buildings-villa-2:"\54";
$g-var-buildings-mosque:"\55";
$g-var-buildings-lighthouse-2:"\56";
$g-var-buildings-lighthouse:"\57";
$g-var-buildings-house-chimney:"\58";
$g-var-buildings-house:"\59";
$g-var-buildings-hall:"\5a";
$g-var-celeb-bags:"\30";
$g-var-celeb-ballon:"\31";
$g-var-celeb-ballons:"\32";
$g-var-celeb-bell:"\33";
$g-var-celeb-bells:"\34";
$g-var-celeb-candle:"\35";
$g-var-celeb-candle-glass:"\36";
$g-var-celeb-christmas-ball:"\37";
$g-var-celeb-christmas-ball-2:"\38";
$g-var-celeb-christmas-balls:"\39";
$g-var-celeb-christmas-deco:"\21";
$g-var-celeb-christmas-stick:"\22";
$g-var-celeb-christmas-tree:"\23";
$g-var-celeb-hot-air-ballon:"\24";
$g-var-clothes-academic-cap:"\25";
$g-var-clothes-hoodie:"\26";
$g-var-clothes-heels-2:"\27";
$g-var-clothes-heels:"\28";
$g-var-clothes-gloves:"\29";
$g-var-clothes-glasses:"\2a";
$g-var-clothes-dress-2:"\2b";
$g-var-clothes-dress:"\2c";
$g-var-clothes-coathanger:"\2d";
$g-var-clothes-brasier:"\2e";
$g-var-clothes-bikini:"\2f";
$g-var-clothes-belt:"\3a";
$g-var-clothes-baseball-hat:"\3b";
$g-var-clothes-backpack:"\3c";
$g-var-celeb-leaf:"\3d";
$g-var-celeb-lifeguard:"\3e";
$g-var-celeb-drink-2:"\3f";
$g-var-celeb-drink:"\40";
$g-var-celeb-easter-egg:"\5b";
$g-var-celeb-magic-stick:"\5d";
$g-var-celeb-mask:"\5e";
$g-var-celeb-easter-egg-2:"\5f";
$g-var-celeb-gift:"\60";
$g-var-celeb-halloween-bat:"\7b";
$g-var-celeb-gift-2:"\7c";
$g-var-celeb-patio:"\7d";
$g-var-celeb-mask-2:"\7e";
$g-var-celeb-snowflake:"\5c";
$g-var-celeb-snowflake-2:"\e000";
$g-var-celeb-snowflake-3:"\e001";
$g-var-celeb-star:"\e002";
$g-var-celeb-tags:"\e003";
$g-var-celeb-wine-glass:"\e004";
$g-var-celeb-halloween-skull:"\e005";
$g-var-celeb-halloween-pumkin:"\e006";
$g-var-celeb-halloween-hat:"\e007";
$g-var-celeb-halloween-ghost:"\e008";
$g-var-celeb-halloween-coffin:"\e009";
$g-var-clothes-hoodie-2:"\e00a";
$g-var-clothes-tie:"\e00b";
$g-var-control-arrow-ld:"\e00c";
$g-var-control-arrow-wide-down:"\e00d";
$g-var-control-caret-line-down:"\e00e";
$g-var-control-connection-right:"\e00f";
$g-var-control-repeat:"\e010";
$g-var-control-settings:"\e011";
$g-var-control-settings-2:"\e012";
$g-var-control-settings-3:"\e013";
$g-var-control-switch-on:"\e014";
$g-var-control-upload:"\e015";
$g-var-control-visual:"\e016";
$g-var-control-visual-graphs:"\e017";
$g-var-control-volume-1:"\e018";
$g-var-control-volume-3:"\e019";
$g-var-control-volume-block:"\e01a";
$g-var-control-volume-minus:"\e01b";
$g-var-control-volume-mute:"\e01c";
$g-var-clothes-pants:"\e01d";
$g-var-clothes-purse:"\e01e";
$g-var-clothes-sandals:"\e01f";
$g-var-clothes-shirt:"\e020";
$g-var-clothes-shoe:"\e021";
$g-var-clothes-shoe-2:"\e022";
$g-var-clothes-shorts:"\e023";
$g-var-clothes-sock:"\e024";
$g-var-clothes-sock-2:"\e025";
$g-var-clothes-swim-suit:"\e026";
$g-var-clothes-swim-suit-2:"\e027";
$g-var-clothes-tank-top:"\e028";
$g-var-clothes-top-cap:"\e029";
$g-var-clothes-tshirt:"\e02a";
$g-var-clothes-underwear:"\e02b";
$g-var-clothes-underwear-2:"\e02c";
$g-var-clothes-vest:"\e02d";
$g-var-control-anti-clockwise:"\e02e";
$g-var-control-anti-direction:"\e02f";
$g-var-control-anti-reload:"\e030";
$g-var-control-arrow-clockwise:"\e031";
$g-var-control-arrow-connection:"\e032";
$g-var-control-arrow-hook-left:"\e033";
$g-var-control-arrow-hook-right:"\e034";
$g-var-control-arrow-line-down:"\e035";
$g-var-control-arrow-line-left:"\e036";
$g-var-control-arrow-line-right:"\e037";
$g-var-control-arrow-lt:"\e038";
$g-var-control-arrow-rd:"\e039";
$g-var-control-arrow-rotate-h:"\e03a";
$g-var-control-arrow-rotate-v:"\e03b";
$g-var-control-arrow-rt:"\e03c";
$g-var-control-arrow-track-fill-v:"\e03d";
$g-var-control-arrow-track-h:"\e03e";
$g-var-control-arrow-track-v:"\e03f";
$g-var-control-arrow-up:"\e040";
$g-var-control-caret-left:"\e041";
$g-var-control-caret-down:"\e042";
$g-var-control-cared-square-right:"\e043";
$g-var-control-button:"\e044";
$g-var-control-arrows-vert:"\e045";
$g-var-control-arrows-horizontal:"\e046";
$g-var-control-arrows-extand:"\e047";
$g-var-control-arrows-expand:"\e048";
$g-var-control-arrows-corner:"\e049";
$g-var-control-arrow-wide-up:"\e04a";
$g-var-control-arrow-wide-right:"\e04b";
$g-var-control-arrow-wide-left:"\e04c";
$g-var-control-caret-line-left:"\e04d";
$g-var-control-download:"\e04e";
$g-var-control-filter-down:"\e04f";
$g-var-control-filter-fill-vertical:"\e050";
$g-var-control-filter-up:"\e051";
$g-var-control-filter-vertical:"\e052";
$g-var-control-gear:"\e053";
$g-var-control-infinity:"\e054";
$g-var-control-loop:"\e055";
$g-var-control-node-left:"\e056";
$g-var-control-node-right:"\e057";
$g-var-control-reload:"\e058";
$g-var-control-reload-2:"\e059";
$g-var-control-caret-line-right:"\e05a";
$g-var-control-caret-line-up:"\e05b";
$g-var-control-caret-right:"\e05c";
$g-var-control-caret-square-down:"\e05d";
$g-var-control-caret-square-left:"\e05e";
$g-var-control-caret-square-up:"\e05f";
$g-var-control-caret-up:"\e060";
$g-var-control-channels:"\e061";
$g-var-control-circle-cycle:"\e062";
$g-var-control-clockwise:"\e063";
$g-var-control-connection-left:"\e064";
$g-var-control-volume-plus:"\e065";
$g-var-design-rotate-l:"\e066";
$g-var-devices-bookmark-file:"\e067";
$g-var-devices-headphones:"\e068";
$g-var-doc-board-check:"\e069";
$g-var-doc-file-audio:"\e06a";
$g-var-doc-file-image:"\e06b";
$g-var-doc-file-transfer:"\e06c";
$g-var-doc-file-trash:"\e06d";
$g-var-doc-file-unlock:"\e06e";
$g-var-doc-file-upload:"\e06f";
$g-var-doc-file-user:"\e070";
$g-var-doc-file-xls:"\e071";
$g-var-doc-file-zip:"\e072";
$g-var-doc-folder-add:"\e073";
$g-var-doc-folder-block:"\e074";
$g-var-doc-folder-check:"\e075";
$g-var-doc-folder-close:"\e076";
$g-var-doc-folder-cloud:"\e077";
$g-var-doc-folder-edit:"\e078";
$g-var-design-book:"\e079";
$g-var-design-close:"\e07a";
$g-var-design-eyedroper:"\e07b";
$g-var-design-eyedroper-2:"\e07c";
$g-var-design-flat-brush:"\e07d";
$g-var-design-large-brush:"\e07e";
$g-var-design-move:"\e07f";
$g-var-design-paint-bucket:"\e080";
$g-var-design-palet:"\e081";
$g-var-design-pen:"\e082";
$g-var-design-pen-2:"\e083";
$g-var-design-printer:"\e084";
$g-var-design-rotate-r:"\e085";
$g-var-design-round-brush:"\e086";
$g-var-design-ruler-pen:"\e087";
$g-var-design-scale-up:"\e088";
$g-var-design-send:"\e089";
$g-var-design-star:"\e08a";
$g-var-design-tools:"\e08b";
$g-var-devices-battery-3:"\e08d";
$g-var-devices-battery-2:"\e08c";
$g-var-design-trash:"\e08e";
$g-var-devices-battery-charging:"\e08f";
$g-var-devices-battery-empty:"\e090";
$g-var-devices-broken-link:"\e091";
$g-var-devices-network:"\e092";
$g-var-doc-board-close:"\e093";
$g-var-doc-file-blocked:"\e094";
$g-var-doc-file-jpg:"\e095";
$g-var-doc-file-letter:"\e096";
$g-var-doc-file-list:"\e097";
$g-var-doc-file-list-2:"\e098";
$g-var-doc-file-lock:"\e099";
$g-var-doc-file-minus:"\e09a";
$g-var-doc-file-notification:"\e09b";
$g-var-doc-file-pen:"\e09c";
$g-var-doc-file-play:"\e09d";
$g-var-doc-file-png:"\e09e";
$g-var-doc-file-spreadsheet:"\e09f";
$g-var-doc-file-success:"\e0a0";
$g-var-devices-charged:"\e0a1";
$g-var-devices-cloud-close:"\e0a2";
$g-var-devices-cloud-down:"\e0a3";
$g-var-devices-cloud-success:"\e0a4";
$g-var-devices-cloud-up:"\e0a5";
$g-var-devices-drive:"\e0a6";
$g-var-devices-file-check:"\e0a7";
$g-var-devices-file-down:"\e0a8";
$g-var-devices-file-import:"\e0a9";
$g-var-devices-file-up:"\e0aa";
$g-var-devices-floppy:"\e0ab";
$g-var-devices-new-file:"\e0ac";
$g-var-devices-phone:"\e0ad";
$g-var-devices-phones:"\e0ae";
$g-var-devices-printer:"\e0af";
$g-var-devices-responsive:"\e0b0";
$g-var-devices-tablet:"\e0b1";
$g-var-doc:"\e0b2";
$g-var-doc-acrobat:"\e0b3";
$g-var-doc-board:"\e0b4";
$g-var-doc-board-add:"\e0b5";
$g-var-doc-board-blank:"\e0b6";
$g-var-doc-board-edit:"\e0b7";
$g-var-doc-board-lock:"\e0b8";
$g-var-doc-board-minus:"\e0b9";
$g-var-doc-board-pen:"\e0ba";
$g-var-doc-board-unlock:"\e0bb";
$g-var-doc-bookmark-files:"\e0bc";
$g-var-doc-copy:"\e0bd";
$g-var-doc-disorder-list:"\e0be";
$g-var-doc-doc-file:"\e0bf";
$g-var-doc-file2:"\e0c0";
$g-var-doc-file-alert:"\e0c1";
$g-var-doc-file-check:"\e0c2";
$g-var-doc-file-close:"\e0c3";
$g-var-doc-file-cloud:"\e0c4";
$g-var-doc-file-code:"\e0c5";
$g-var-doc-file-copy:"\e0c6";
$g-var-doc-file-copy-2:"\e0c7";
$g-var-doc-file-download:"\e0c8";
$g-var-doc-file-drawer:"\e0c9";
$g-var-doc-file-edit:"\e0ca";
$g-var-doc-file-folder:"\e0cb";
$g-var-doc-file-graph:"\e0cc";
$g-var-doc-folder-loading:"\e0cd";
$g-var-doc-folder-refresh:"\e0ce";
$g-var-doc-folder-remove:"\e0cf";
$g-var-doc-folder-zip:"\e0d0";
$g-var-doc-newspaper:"\e0d1";
$g-var-editing-block:"\e0d2";
$g-var-editing-blocks:"\e0d3";
$g-var-editing-board:"\e0d4";
$g-var-editing-board-blank:"\e0d5";
$g-var-editing-ink:"\e0d6";
$g-var-editing-leaf:"\e0d7";
$g-var-editing-marker:"\e0d8";
$g-var-editing-move:"\e0d9";
$g-var-editing-paper:"\e0da";
$g-var-finance-dollar:"\e0db";
$g-var-finance-thumb-lock:"\e0dc";
$g-var-food-bottle-wine:"\e0dd";
$g-var-food-fish:"\e0de";
$g-var-game-gamepad:"\e0df";
$g-var-food-toilete-paper:"\e0e0";
$g-var-editing-ruler:"\e0e1";
$g-var-finance-abacus:"\e0e2";
$g-var-finance-bill:"\e0e3";
$g-var-finance-calculator:"\e0e4";
$g-var-finance-cart:"\e0e5";
$g-var-finance-cart-card:"\e0e6";
$g-var-finance-cash:"\e0e7";
$g-var-finance-coin-bitcoin:"\e0e8";
$g-var-finance-coin-pound:"\e0e9";
$g-var-finance-coin-yen:"\e0ea";
$g-var-finance-coins:"\e0eb";
$g-var-finance-delivery:"\e0ec";
$g-var-finance-dollar-1:"\e0ed";
$g-var-finance-thumb-locker:"\e0ee";
$g-var-food-bread:"\e0ef";
$g-var-food-grapes:"\e0f0";
$g-var-food-watermelon:"\e0f1";
$g-var-game-helmet:"\e0f2";
$g-var-game-medal:"\e0f3";
$g-var-game-portable:"\e0f4";
$g-var-game-target:"\e0f5";
$g-var-game-train:"\e0f6";
$g-var-game-trophy:"\e0f7";
$g-var-game-voleyball:"\e0f8";
$g-var-game-winner:"\e0f9";
$g-var-gglobal:"\e0fa";
$g-var-household-bed:"\e0fb";
$g-var-household-chair:"\e0fc";
$g-var-household-clock:"\e0fd";
$g-var-game-dice-2:"\e0fe";
$g-var-food-strawberry:"\e0ff";
$g-var-food-eggplant:"\e100";
$g-var-food-bottle-beer:"\e101";
$g-var-finance-shipper:"\e102";
$g-var-finance-dollar-10:"\e103";
$g-var-finance-truck:"\e104";
$g-var-food-carrot:"\e105";
$g-var-food-hot-food:"\e106";
$g-var-food-wine-glass:"\e107";
$g-var-game-archery:"\e108";
$g-var-game-ball:"\e109";
$g-var-game-baseball:"\e10a";
$g-var-game-cards:"\e10b";
$g-var-game-chess:"\e10c";
$g-var-game-chess-2:"\e10d";
$g-var-game-cycle:"\e10e";
$g-var-game-cycling:"\e10f";
$g-var-game-dice:"\e110";
$g-var-food-pizza:"\e111";
$g-var-food-cup-cake:"\e112";
$g-var-food-birthdaycake:"\e113";
$g-var-finance-safe:"\e114";
$g-var-finance-dollar-coin:"\e115";
$g-var-finance-wallet:"\e116";
$g-var-food-cheese:"\e117";
$g-var-food-hotdog:"\e118";
$g-var-food-ice-cream-2:"\e119";
$g-var-food-ice-cream-3:"\e11a";
$g-var-food-ice-cream-cone:"\e11b";
$g-var-food-limonade:"\e11c";
$g-var-food-martini:"\e11d";
$g-var-food-peas:"\e11e";
$g-var-food-pistachio:"\e11f";
$g-var-food-coocker:"\e120";
$g-var-food-beer-mug:"\e121";
$g-var-finance-report:"\e122";
$g-var-finance-piggy-dollar:"\e123";
$g-var-finance-piggy-bank:"\e124";
$g-var-finance-money-rotate-2:"\e125";
$g-var-finance-money-rotate:"\e126";
$g-var-finance-money-bag:"\e127";
$g-var-finance-galaxy:"\e128";
$g-var-finance-wallet-2:"\e129";
$g-var-food-cheese-cake:"\e12a";
$g-var-food-cherrys:"\e12b";
$g-var-food-chicken:"\e12c";
$g-var-food-coffee:"\e12d";
$g-var-food-coffee-bean:"\e12e";
$g-var-food-coffee-cup:"\e12f";
$g-var-food-beand:"\e130";
$g-var-food-banana:"\e131";
$g-var-food-avocado:"\e132";
$g-var-food-apple:"\e133";
$g-var-finance-wallet-alert:"\e134";
$g-var-household-clock-2:"\e135";
$g-var-image-camera:"\e136";
$g-var-image-movie:"\e137";
$g-var-image-videocam:"\e138";
$g-var-map-location:"\e139";
$g-var-map-tracks:"\e13a";
$g-var-office-pad:"\e13b";
$g-var-office-pad-pen:"\e13c";
$g-var-office-pad-pen-2:"\e13d";
$g-var-office-paperclip:"\e13e";
$g-var-office-pen-ink:"\e13f";
$g-var-office-pencil:"\e140";
$g-var-office-pencil-ruler:"\e141";
$g-var-office-plant:"\e142";
$g-var-office-scissor:"\e143";
$g-var-office-stamp:"\e144";
$g-var-office-supplies:"\e145";
$g-var-office-telephone:"\e146";
$g-var-office-user-1:"\e147";
$g-var-office-mail-open:"\e148";
$g-var-map-point-3:"\e149";
$g-var-map-locate-lock:"\e14a";
$g-var-image-video-files:"\e14b";
$g-var-image-move-r:"\e14c";
$g-var-household-window:"\e14d";
$g-var-household-dinning-set:"\e14e";
$g-var-image-camera-2:"\e14f";
$g-var-image-photo:"\e150";
$g-var-image-videocam-2:"\e151";
$g-var-map-lock:"\e152";
$g-var-map-transmiter:"\e153";
$g-var-office-calendar-check:"\e154";
$g-var-office-calendar-clock:"\e155";
$g-var-office-coffee:"\e156";
$g-var-office-desk:"\e157";
$g-var-office-file-check:"\e158";
$g-var-office-file-close:"\e159";
$g-var-office-group:"\e15a";
$g-var-office-hourglass:"\e15b";
$g-var-office-id-card:"\e15c";
$g-var-office-id-card-2:"\e15d";
$g-var-map-point-2:"\e15e";
$g-var-map-locate-3:"\e15f";
$g-var-image-telephoto:"\e160";
$g-var-image-move-l:"\e161";
$g-var-household-washing:"\e162";
$g-var-household-tv-station:"\e163";
$g-var-household-stoll:"\e164";
$g-var-household-sofa-2:"\e165";
$g-var-household-sofa:"\e166";
$g-var-household-shelve:"\e167";
$g-var-household-lamp:"\e168";
$g-var-household-double-table:"\e169";
$g-var-household-door:"\e16a";
$g-var-household-dish-washer:"\e16b";
$g-var-image-camera-3:"\e16c";
$g-var-image-photos:"\e16d";
$g-var-map-blank:"\e16e";
$g-var-map-marker:"\e16f";
$g-var-map-marker-2:"\e170";
$g-var-map-navigate:"\e171";
$g-var-map-people-area:"\e172";
$g-var-map-pin:"\e173";
$g-var-map-pin-2:"\e174";
$g-var-map-places-1:"\e175";
$g-var-map-places-2:"\e176";
$g-var-map-point:"\e177";
$g-var-map-locate-2:"\e178";
$g-var-image-slider-video:"\e179";
$g-var-image-film-roll:"\e17a";
$g-var-image-film:"\e17b";
$g-var-image-file-png:"\e17c";
$g-var-image-file-photo:"\e17d";
$g-var-image-file-jpg:"\e17e";
$g-var-image-file:"\e17f";
$g-var-image-camera-flash-2:"\e180";
$g-var-image-camera-flash:"\e181";
$g-var-image-photos-2:"\e182";
$g-var-map-blank-2:"\e183";
$g-var-map-directions:"\e184";
$g-var-map-globe-pointer:"\e185";
$g-var-map-globe:"\e186";
$g-var-image-photos-4:"\e187";
$g-var-image-photos-3:"\e188";
$g-var-image-player:"\e189";
$g-var-image-search-file:"\e18a";
$g-var-image-shutter:"\e18b";
$g-var-image-slider:"\e18c";
$g-var-map-locate:"\e18d";
$g-var-map-globe-stand:"\e18e";
$g-var-map-globe-search:"\e18f";
$g-var-office-user-2:"\e190";
$g-var-smiley-hmm:"\e191";
$g-var-smiley-sick:"\e192";
$g-var-social-creative-commons:"\e193";
$g-var-social-playstation:"\e194";
$g-var-ui-bookmark:"\e195";
$g-var-ui-settings:"\e196";
$g-var-user-bookmark:"\e197";
$g-var-user-bookmark-2:"\e198";
$g-var-user-calendar:"\e199";
$g-var-user-chart-bars-down:"\e19a";
$g-var-user-chart-pie:"\e19b";
$g-var-user-chart-pie-2:"\e19c";
$g-var-user-charts-bars:"\e19d";
$g-var-user-charts-bars-horizontal:"\e19e";
$g-var-user-charts-bars-up:"\e19f";
$g-var-user-charts-line:"\e1a0";
$g-var-user-charts-line-2:"\e1a1";
$g-var-user-charts-line-up:"\e1a2";
$g-var-user-block:"\e1a3";
$g-var-user-charts-pie:"\e1a4";
$g-var-ui-progress-bar:"\e1a5";
$g-var-social-youtube:"\e1a6";
$g-var-social-chrome:"\e1a7";
$g-var-smiley-satisfied:"\e1a8";
$g-var-smiley-happy-tongue:"\e1a9";
$g-var-smiley-happy-2:"\e1aa";
$g-var-smiley-happy:"\e1ab";
$g-var-smiley-funny:"\e1ac";
$g-var-smiley-dead:"\e1ad";
$g-var-smiley-confused:"\e1ae";
$g-var-smiley-concern:"\e1af";
$g-var-smiley-cocky:"\e1b0";
$g-var-smiley-broken-heart:"\e1b1";
$g-var-smiley-betrayal:"\e1b2";
$g-var-office-users:"\e1b3";
$g-var-office-user-3:"\e1b4";
$g-var-smiley-indiferent:"\e1b5";
$g-var-smiley-spooked:"\e1b6";
$g-var-social-evernote:"\e1b7";
$g-var-ui-bookmark-2:"\e1b8";
$g-var-social-reddit:"\e1b9";
$g-var-ui-settings-2:"\e1ba";
$g-var-ui-tick:"\e1bb";
$g-var-ui-trash:"\e1bc";
$g-var-user-1:"\e1bd";
$g-var-user-2:"\e1be";
$g-var-user-3:"\e1bf";
$g-var-user-4:"\e1c0";
$g-var-user-add:"\e1c1";
$g-var-user-add-2:"\e1c2";
$g-var-user-alert:"\e1c3";
$g-var-user-bars-vert:"\e1c4";
$g-var-ui-play:"\e1c5";
$g-var-social-yelp:"\e1c6";
$g-var-social-paypal:"\e1c7";
$g-var-social-pinterest:"\e1c8";
$g-var-social-brackets:"\e1c9";
$g-var-smiley-sad-3:"\e1ca";
$g-var-smiley-sad-2:"\e1cb";
$g-var-smiley-sad:"\e1cc";
$g-var-smiley-pain:"\e1cd";
$g-var-smiley-meditation:"\e1ce";
$g-var-smiley-mad:"\e1cf";
$g-var-smiley-love-2:"\e1d0";
$g-var-smiley-love:"\e1d1";
$g-var-smiley-lol:"\e1d2";
$g-var-smiley-kid:"\e1d3";
$g-var-smiley-stich-mouth:"\e1d4";
$g-var-social-facebook:"\e1d5";
$g-var-social-rss:"\e1d6";
$g-var-ui-clock:"\e1d7";
$g-var-ui-clock-2:"\e1d8";
$g-var-ui-drag-l:"\e1d9";
$g-var-ui-gear:"\e1da";
$g-var-ui-mail-open:"\e1db";
$g-var-ui-mail:"\e1dc";
$g-var-social-twitter:"\e1dd";
$g-var-social-tumblr:"\e1de";
$g-var-social-skype:"\e1df";
$g-var-social-share:"\e1e0";
$g-var-social-facebook-2:"\e1e1";
$g-var-smiley-tasty:"\e1e2";
$g-var-smiley-tongue:"\e1e3";
$g-var-smiley-wink:"\e1e4";
$g-var-smiley-wink-2:"\e1e5";
$g-var-social-amazon:"\e1e6";
$g-var-social-apple:"\e1e7";
$g-var-social-appstore:"\e1e8";
$g-var-social-basecamp:"\e1e9";
$g-var-social-msn:"\e1ea";
$g-var-social-yahoo:"\e1eb";
$g-var-ui-pause:"\e1ec";
$g-var-ui-page-copy:"\e1ed";
$g-var-ui-page-add:"\e1ee";
$g-var-social-whatsapp:"\e1ef";
$g-var-social-twitter-2:"\e1f0";
$g-var-social-wordpress:"\e1f1";
$g-var-social-linkedin-2:"\e1f2";
$g-var-social-linkedin:"\e1f3";
$g-var-social-instagram:"\e1f4";
$g-var-social-google-2:"\e1f5";
$g-var-social-google:"\e1f6";
$g-var-social-github:"\e1f7";
$g-var-weather-thunder-rain-2:"\e1f8";
$g-var-weather-snowflake:"\e1f9";
$g-var-weather-cloudy-night:"\e1fa";
$g-var-user-reload-2:"\e1fb";
$g-var-user-lock-2:"\e1fc";
$g-var-user-check:"\e1fd";
$g-var-user-charts-pie-2:"\e1fe";
$g-var-user-charts-wave:"\e1ff";
$g-var-user-charts-waves:"\e200";
$g-var-user-chat:"\e201";
$g-var-user-chat-2:"\e202";
$g-var-user-chat-3:"\e203";
$g-var-user-chat-4:"\e204";
$g-var-user-chat-5:"\e205";
$g-var-user-chat-6:"\e206";
$g-var-user-chat-7:"\e207";
$g-var-user-chat-8:"\e208";
$g-var-user-chat-9:"\e209";
$g-var-user-chat-10:"\e20a";
$g-var-user-lock:"\e20b";
$g-var-user-reload:"\e20c";
$g-var-weather-cloudy:"\e20d";
$g-var-weather-showers-umbrella:"\e20e";
$g-var-weather-thunder-rain:"\e20f";
$g-var-weather-thunder-2:"\e210";
$g-var-weather-thunder:"\e211";
$g-var-weather-thermometer-4:"\e212";
$g-var-weather-thermometer-3:"\e213";
$g-var-weather-thermometer-2:"\e214";
$g-var-weather-thermometer-1:"\e215";
$g-var-weather-thermometer:"\e216";
$g-var-weather-sunshine:"\e217";
$g-var-weather-sunset:"\e218";
$g-var-weather-sunny-cloudy:"\e219";
$g-var-weather-sun:"\e21a";
$g-var-weather-thunder-storm:"\e21b";
$g-var-weather-thunderstorms:"\e21c";
$g-var-weather-umbrella:"\e21d";
$g-var-weather-wind:"\e21e";
$g-var-weather-low-rain:"\e21f";
$g-var-weather-half-rain:"\e220";
$g-var-weather-drop:"\e221";
$g-var-weather-drizzle:"\e222";
$g-var-user-reload-3:"\e223";
$g-var-user-love:"\e224";
$g-var-user-check-2:"\e225";
$g-var-user-clock:"\e226";
$g-var-user-cloud:"\e227";
$g-var-user-concact:"\e228";
$g-var-user-delete:"\e229";
$g-var-user-delete-2:"\e22a";
$g-var-user-download:"\e22b";
$g-var-user-edit:"\e22c";
$g-var-user-group:"\e22d";
$g-var-user-group-2:"\e22e";
$g-var-user-horizontal-bars:"\e22f";
$g-var-user-presentation-2:"\e230";
$g-var-weather-cloud-thunder:"\e231";
$g-var-weather-showers:"\e232";
$g-var-weather-rain-2:"\e233";
$g-var-weather-rain-1:"\e234";
$g-var-weather-night-thunder:"\e235";
$g-var-weather-night-rain:"\e236";
$g-var-weather-night-drizzle:"\e237";
$g-var-weather-low-rain-2:"\e238";
$g-var-user-unlock:"\e239";
$g-var-user-trash:"\e23a";
$g-var-user-search:"\e23b";
$g-var-user-reload-4:"\e23c";
$g-var-user-love-2:"\e23d";
$g-var-user-mail:"\e23e";
$g-var-user-minus:"\e23f";
$g-var-user-minus-2:"\e240";
$g-var-user-move:"\e241";
$g-var-user-parabola:"\e242";
$g-var-user-parabola-2:"\e243";
$g-var-user-phone:"\e244";
$g-var-user-presentation:"\e245";
$g-var-user-view-2:"\e246";
$g-var-user-view:"\e247";
$g-var-user-upload:"\e248";
$g-var-user-unlock-2:"\e249";


