
/*
*
* G-Global Icons Path
* @rafa
*
*/


@charset "UTF-8";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "sassFramework/gSass";


body{
  background:#f5f5f5;
}
h1, h2, h3, h4, h5, h6{
  font-family: $canaroSemiBold;
}
.headSpace{
  height:50px;
  width:100%;
}
.header{
    //@include diagonal(before, top, left, 200px, 200px, $globalBlue);
    //@include diagonal(after, bottom, right, 200px, 200px, $globalBlue);
    background-image:url("../../dist/imgs/bg_2.jpg");
    background-position: center center;
    background-color:$globalBlue;
    background-size: cover;
    padding-bottom: 50px;
    padding-top:50px;
    position:relative;
    color:white;
    h1{
        small{
            color:white;
        }
    }
    i{
        font-size:35px;
        color:$globalBlue;
        vertical-align: middle;
    }
    .version{
        right: 0;
        color: white;
        position: absolute;
        bottom: 0;
        margin-right: 20px;
    }
    .searchInput{
      border-radius: 50px;
      height: 40px;
      background: rgba(255,255,255,0.8);
    }
    &:before{
      content:'';
      position: absolute;
      left:0;
      top:0;
      bottom:0;
      display: block;
      right:0;
      background:rgba(0, 104, 255, 0.7);
    }
  }
.iconHolder{
    position: relative;
    width: 100%;
    display: block;
    padding:25px;
    margin-bottom:20px;
    float: left;
    .icon{
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 15px;
      border-radius: 5px;
      i{
        color: #0068ff;
        vertical-align: middle;
        margin-right: 10px;
        font-size: 20px;
      }
      &:hover{
        background:$globalBlue;
        color:white;
        i{
          color:white;
        }
      }
    }

}

.btn-primary{
  background: $globalBlue;
  color:white;
  border:0px;
  &:hover{
    background:$globalBlue;
    color:white;
  }
}

.gicons_list{
  ul{
    list-style: none;
  }
  li{
      float:left;
      .form-control{
        width:70%;
      }
      i{
        float: left;
        margin-top: 0px;
        padding-right: 5px;
        font-size: 2em;
        padding-left: 5px;
      }
    }
}